<%- include("included/header",{user_Info:"userInfo"}); -%>
<div style="margin: auto;">

 
  <form action="/filter-location" method="post"  style="margin: 30px 0 0 20px;">
    <div class="row">
      <div class="col-xl-4 col-sm-5 mb-xl-0 mb-4">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <select name="state" id="inputCountry" class="form-control" required>
              
              <option value="" selected disabled>Choose State of Site *</option>
              <option value="Abia" class="">Abia</option>
              <option value="Adamawa">Adamawa</option>
              <option value="Akwa Ibom">Akwa Ibom</option>
              <option value="Anambra">Anambra</option>
              <option value="Bauchi">Bauchi</option>
              <option value="Bayelsa">Bayelsa</option>
              <option value="Benue">Benue</option>
              <option value="Borno">Borno</option>
              <option value="Cross River">Cross River</option>
              <option value="Delta">Delta</option>
              <option value="Ebonyi">Ebonyi</option>
              <option value="Edo">Edo</option>
              <option value="Ekiti">Ekiti</option>
              <option value="Enugu">Enugu</option>
              <option value="FCT">Federal Capital Territory (FCT)</option>
              <option value="Gombe">Gombe</option>
              <option value="Imo">Imo</option>
              <option value="Jigawa">Jigawa</option>
              <option value="Kaduna">Kaduna</option>
              <option value="Kano">Kano</option>
              <option value="Katsina">Katsina</option>
              <option value="Kebbi">Kebbi</option>
              <option value="Kogi">Kogi</option>
              <option value="Kwara">Kwara</option>
              <option value="Lagos">Lagos</option>
              <option value="Nasarawa">Nasarawa</option>
              <option value="Niger">Niger</option>
              <option value="Ogun">Ogun</option>
              <option value="Ondo">Ondo</option>
              <option value="Osun">Osun</option>
              <option value="Oyo">Oyo</option>
              <option value="Plateau">Plateau</option>
              <option value="Rivers">Rivers</option>
              <option value="Sokoto">Sokoto</option>
              <option value="Taraba">Taraba</option>
              <option value="Yobe">Yobe</option>
              <option value="Zamfara">Zamfara</option>
            </select>
            
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-5 mb-xl-0 mb-4">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          
          <div class="input-group">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <select id="dropdown" class="form-control" style="height: 40px;" name="structure" required>
              <option value="none" selected >--Choose Structure--</option>
              <option value="48 Sheet">48 Sheet</option>
              <option value="Unipole 2 Sided">Unipole 2-Sided</option>
              <option value="Unipole 3 Sided">Unipole 3-Sided</option>
              <option value="Portrait">Portrait</option>
              <option value="Eye Catcher">Eye Catcher</option>
              <option value="Gantry">Gantry</option>
              <option value="Roof Top">Roof Top</option>
              <option value="Wall Drape">Wall Drape</option>
              <option value="Roundabout">Roundabout</option>
              <option value="Lamp Poles">Lamp Poles</option>
              <option value="Keke Branding">Keke Branding</option>
              <option value="Building Branding">Building Branding</option>
            </select>
            
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-5 mb-xl-0 mb-4">
        <button type="submit" class="btn bg-gradient-info">Find  &nbsp; <i class="fas fa-search" aria-hidden="true"></i></button>
      </div>
      <div  class="col-xl-2 col-sm-5 mb-xl-0 mb-4"> 
        <a href="/list-location"><i class=" fa fa-arrow-right" style="font-size: small;"> Reset</i></a>
      </div>
    </div>
  </form>
 
</div>
<div class="container-fluid py-4">
  
  <div class="row">
    
    <div class="col-12">
      
      <div class="card mb-4">
        <% if(locations.length !== 0){ %>
          <div class="card-header pb-0">
          
            <h6>All Signboard Locations </h6>
            <p style="font-size: small;"><%= detail%></p>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">State</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Structure</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Lat/Long</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"> Board Status</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Action</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
  
                  <!-- DATABASE TABLE -->
                  <% locations.forEach(function(item){ %>
                    <tr>
                      <td>
                        
                          
                          <!-- Camp and opp name -->
                          
                            <h6 class="mb-0 text-sm"><%=item.state%></h6>
                            
                          
                      
                      </td>
                    
                        <!-- States -->
                        
                      <td>
                        <p class="text-xs font-weight-bold mb-0"><%= item.address%>...</p>
                        <p class="text-xs text-secondary mb-0">Developer</p>
                      </td>
                      <td class="align-middle ">
                        <span class="text-secondary text-xs font-weight-bold"><%=item.structure%></span>
                      </td>
  
                      <td class="">
                        <span class="text-secondary text-xs font-weight-bold"><%=item.latitude + " / " + item.longitude%></span>
                      </td>
  
                      <form action="/viewmap" method="post">
                        <input type="hidden" name="mapstate" value="<%=item.state%>">
                        <input type="hidden" name="mapaddress" value="<%=item.address%>">
                        <input type="hidden" name="mapstructure" value="<%=item.structure%>">
                        <input type="hidden" name="maplat" value="<%=item.latitude%>">
                        <input type="hidden" name="maplong" value="<%=item.longitude%>">
                        <% if (item.vacant == true){ %>
                          <td class="align-middle  text-sm">
                          <span class="badge badge-sm bg-gradient-success"><div title="SHow Me">Vacant</div></span>
                        </td>
                        <% }else{ %>
                          <td class="align-middle  text-sm">
                            <span class="badge badge-sm bg-gradient-secondary">Occupied</span>
                          </td>
                        <% }%>
                        <td class="align-middle">
                          <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" >
                            <input type="hidden" name="ads_id" value="<%= item._id %>">
                            
                            
                            <button type="submit" class="plain-bt">View Map</button>
                          </a>
                        </td>
                      </form>
                      <form action="/locationAds" method="post">
                        <% if (item.vacant == true){ %>
                          <td class="align-middle">
                            <a href="/form" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" >
                              <input type="hidden" name="loc" value="<%= item._id %>">
                              <button type="submit" class="plain-bt"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Use</button>
                            </a>
                          </td>
                         
                        <% }else{ %>
                          <td class="align-middle">
                            <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" >
                              <input type="hidden" name="loc_id" value="<%= item._id %>">
                              <button type="submit" class="plain-bt"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Details</button>
                            </a>
                          </td>
                          
                        <% }%>
                        
  
                      </form>  
                     
              
                      
                    
                      <form action="/delete-loc" method="post">
                        <td class="align-middle">
                          <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" >
                            <input type="hidden" name="loc_id" value="<%= item._id %>">
                            <button type="submit" class="plain-bt"><i class="fas fa-trash text-dark me-2" aria-hidden="true"></i>delete</button>
                          </a>
                        </td>
  
                      </form>  
                      <!-- onclick="this.form.submit()" -->
                      <!-- <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a> -->
                      
                    </tr>
                  <% }); %>
                  <!-- DATABASE TABLE END -->
  
                </tbody>
              </table>
            </div>
          </div>
        <% }else{ %>
          <div class="card-header pb-0">
          
            <h6>No Records found for your Selection</h6>
            <p>Pick another location.</p>
          </div>
        <% } %>
      
        
        
      </div>
    </div>
  </div>
  
  

  <footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            © <script>
              document.write(new Date().getFullYear())
            </script>,
            made with <i class="fa fa-heart"></i> by
            <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
            for a better web.
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="fa fa-cog py-2"> </i>
    </a>
    <div class="card shadow-lg ">
      <div class="card-header pb-0 pt-3 ">
        <div class="float-start">
          <h5 class="mt-3 mb-0">Soft UI Configurator</h5>
          <p>See our dashboard options.</p>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <!-- End Toggle Button -->
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0">
        <!-- Sidebar Backgrounds -->
        <div>
          <h6 class="mb-0">Sidebar Colors</h6>
        </div>
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="badge-colors my-2 text-start">
            <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
          </div>
        </a>
        <!-- Sidenav Type -->
        <div class="mt-3">
          <h6 class="mb-0">Sidenav Type</h6>
          <p class="text-sm">Choose between 2 different sidenav types.</p>
        </div>
        <div class="d-flex">
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 active" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
        </div>
        <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
        <!-- Navbar Fixed -->
        <div class="mt-3">
          <h6 class="mb-0">Navbar Fixed</h6>
        </div>
        <div class="form-check form-switch ps-0">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
        </div>
        <hr class="horizontal dark my-sm-4">
        <a class="btn bg-gradient-dark w-100" href="https://www.creative-tim.com/product/soft-ui-dashboard">Free Download</a>
        <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/license/soft-ui-dashboard">View documentation</a>
        <div class="w-100 text-center">
          <a class="github-button" href="https://github.com/creativetimofficial/soft-ui-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/soft-ui-dashboard on GitHub">Star</a>
          <h6 class="mt-3">Thank you for sharing!</h6>
          <a href="https://twitter.com/intent/tweet?text=Check%20Soft%20UI%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/soft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
  
</body>

</html>